---
layout: archive
title: "Teaching and Mentoring"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- # Simple reversed order
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<!-- New style rendering if categories are defined -->
<!-- {% if site.teaching_category %}
  {% for category in site.teaching_category %}
    {% assign title_shown = false %}
    {% for post in site.teaching reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.teaching reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<!-- Hard-coded w/o md files-->
<h2>University-Level Teaching</h2><hr />

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
<h3 class="archive__item-title" itemprop="headline">
      Italian Language and Culture (TA)
</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Summer 2018, Spring 2018, Fall 2017</span>
    <span style="margin-left: 1.5em;">DePauw University 🇺🇸</span>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-person" aria-hidden="true">
      </i>  BA introductory and advanced courses</span>
    <span style="margin-left: 1.5em;">Language of instruction 🇮🇹</span></p>
</article>
</div>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
<h3 class="archive__item-title" itemprop="headline">
    Language and Cognition (primary instructor)
</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Summer 2018, Spring 2018, Fall 2017</span>
    <span style="margin-left: 1.5em;">DePauw University 🇺🇸</span>
    <span style="margin-left: 2em;">Language of instruction 🇮🇹</span></p>
<p class="archive__item-excerpt" itemprop="description">BA introductory course</p>
</article>
</div>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
<h3 class="archive__item-title" itemprop="headline">
    Prosodic Analysis (co-instructor)
</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 250px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Summer 2018, Spring 2018, Fall 2017</span>
    <span style="margin-left: 1em;">
      <i class="fa fa-building-columns">
      </i>  DePauw University, IN, USA</span>
    <span style="margin-left: 1em;">
      <i class="fa fa-language">
      </i>  Language of instruction: Italian</span></p>
<p class="archive__item-excerpt" itemprop="description">MA advanced course</p>
</article>
</div>

<h2>Internship mentoring</h2><hr />

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
<h3 class="archive__item-title" itemprop="headline">
      Speech production data pre-processing
</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 170px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Spring/Fall 2023</span>
    <span style="margin-left: 1em;">
      <i class="fa fa-building-columns">
      </i>  Université Paris Cité, CNRS</span>
    <span style="margin-left: 2em;">
      <i class="fa fa-building-columns">
      </i>  MA internship (2 students)</span></p>
  </article>
</div>
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
<h3 class="archive__item-title" itemprop="headline">
      Speech production data collection and pre-processing
</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 150px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Winter/Spring 2023</span>
    <span style="margin-left: 1.5em;">Université Paris Cité, CNRS 🇲🇫</span>
        <span style="margin-left:2em;">
      <i class="fa fa-person">
      </i>  MA internship (2 students)</span></p>
  </article>
</div>
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
<h3 class="archive__item-title" itemprop="headline">
    Eye-tracking data collection
</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 150px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Spring/Summer 2024</span>
    <span style="margin-left: 1.5em;">Université Paris Cité, CNRS 🇲🇫</span>
    <span style="margin-left:2em;">
      <i class="fa fa-person">
      </i>  2 master-level student</span></p>
  </article>
</div>
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <h3 class="archive__item-title" itemprop="headline">Stimuli adaptation in French</h3>
<p class="page__meta" style="display: flex; align-items: baseline;">
    <span style="display: inline-block; width: 150px;">
      <i class="fa fa-calendar" aria-hidden="true">
      </i> Spring/Summer 2022</span>
    <span style="margin-left: 1.5em;">Université Paris Cité, CNRS 🇲🇫</span>
<p class="archive__item-excerpt" itemprop="description">MA internship (1 student)</p>
  </article>
</div>



<h2>Other Teaching Experience</h2><hr />
